{:easy ({:name "cveks", :score 345022} {:name "cveks", :score 66652} {:name "cveks", :score 40651} {:name "cveks", :score 24486} {:name "cveks", :score 17878}), :medium ({:name "cveks", :score 6465} {:name "cveks", :score 260} {:name "cveks", :score 185} {:name "cveks", :score 0}), :hard ({:name "miljana", :score 67585} {:name "cveks", :score 24754} {:name "cveks", :score 110} {:name "cveks", :score 80}), :hardcore ({:name "cveks", :score 38539} {:name "cveks", :score 38497} {:name "cveks", :score 34889} {:name "cveks", :score 25903} {:name "cveks", :score 24798})}